﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <section id="main-slider" class="no-margin">
        <%--banner here--%>
    </section>
    <!--/#main-slider-->
    <section id="product-slide">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
</asp:Content>

